* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --beige: #ebe4d6;
  --pink: #ffc1d7;
  --purple: #a792b9;
  --blue: #798ca8;
  --title-font: "Lobster", cursive;
  --text-font: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  line-height: 1.6;
  color: white;
  background-image: url(../img/background.svg);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  width: 100%;
  height: 15vh;
  background-color: rgba(167, 146, 185, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 40%;
}

.title-container {
  padding: 1rem;
  font-family: var(--text-font);
  width: 100%;
  text-align: center;
}

.main-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70vh;
  width: 95%;
  padding: 1.5rem 0.5rem;
  border-radius: 10px;
  font-family: var(--text-font);
  background-color: white;
  color: black;
}

.prod {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.prod h1 {
  margin: auto;
  width: 90%;
  text-align: center;
  font-size: 24px;
}

.prod p {
  font-size: 1rem;
  font-weight: 700;
}

.button-container {
  font-weight: 700;
  padding: 0.5rem;
  border: 2px solid var(--purple);
  border-radius: 4px;
  width: 90%;
  text-decoration: none;
  color: var(--purple);
  font-size: 1.2rem;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.button-container:hover {
  background-color: var(--purple);
  color: white;
}

.img-prod {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.img-prod img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease;
}

@media(max-width: 950px){
  .img-container img {
    width: 60%;
  }

  .prod {
    width: 33%;
  }
}

@media(max-width: 768px){
  .prod {
    width: 49%;
  }
}

@media(max-width: 575px){
  .main-container {
    padding: 0;
    width: 100%;
  }

  .prod {
    width: 100%;
    padding: 1rem;
    border-radius: 4px;
  }

  .prod h1 {
    font-size: 32px;
  }

  .prod p {
    font-size: 28px;
  }
}
